* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

.container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header-callback a:last-child span {
  display: none;
}

/* ----------  lanugage --------- */

.lang-dropdown {
  position: relative;
  display: inline-block;
}

.lang-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color: #474747;
  font-size: 14px;
}

.lang-menu {
  display: none;
  position: absolute;
  right: 0;
  border: 1px solid #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: 5px;
  z-index: 100;
}

.lang-menu a {
  display: block;
  padding: 4px 6px;
  color: #000;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}

.lang-menu a:hover {
  opacity: 0.5;
}

/* JavaScript orqali ochilganda */
.lang-menu.show {
  display: block;
}

/* Burger Menu Styles */
.burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
  z-index: 1001;
  padding: 15px;
}

.burger.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 15px;
    padding-left: 22px;
}

.burger span {
  width: 20px;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease;
  border-radius: 2px;
}

.burger.active span:nth-child(1) {
  transform: rotate(45deg) translateY(12px);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-11px);
}

/* Desktop Navigation */

/* Mobile Styles */
@media (max-width: 1023px) {
  .burger {
    display: flex;
  }

  .mobile-nav {
    position: fixed;
    top: 0;
    left: -200%;
    height: 100vh;
    width: 360px;
    background: #ffffff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
    overflow-x: auto;
  }

  .mobile-nav.active {
    left: 0;
  }

  .mobile-content {
    padding: 25px;
  }

  .mobile-nav .navList {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 30px;
  }

  .mobile-nav .navList > li {
    width: 100%;
  }

  .mobile-nav .navList > li > a {
    display: block;
    padding: 15px 0;
    font-size: 20px;
    color: #474747;
    font-weight: 500;
    border-bottom: 1px solid #e0e0e0;
      transition: all 0.3s ease;
  }

    .mobile-nav .navList > li > a:hover {
color: #77B75F;
  }


  .mobile-nav .navList > li:last-child > a {
    border-bottom: none;
  }



  .mobile-lang {
    padding-top: 15px;
  }

  /* Overlay */
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 999;
    opacity: 50%;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .overlay.active {
    display: block;
    visibility: visible;
    opacity: 0.5;
  }
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  bottom: 48px !important;
  left: 0 !important;
  right: auto !important;
  width: auto !important;
}

.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 100%;
  width: 12px;
  height: 12px;
  margin-right: 30px !important;
}

.swiper-pagination-bullet-active {
  background: #77b75f !important;
  width: 16px;
  height: 16px;
}

.headerList li a:hover {
  color: #77B75F;
  transition: all 300ms ease;
}
